body{
    background-color: #000000;
    color: #ffffff;
    font-family:  Avenir, Arial, sans-serif;
    padding: 20 30;
    margin: 20px;
}
.books{
    color: #ffff00;
}
.foods{
    text-transform: uppercase;
}
.movies{
    text-decoration: overline;
}